* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; overflow: hidden; border: 0px; }
.box, div { width: 100%; height: 100%; }
.box p { width: 85%; height: 85%; margin: 7.5%; border: 2px dashed #ccc; line-height: 360px; text-align: center; color: #fff; font-size: 15px; text-shadow: -2px -1px 0 #000; }
.success { background-color: #fefefe; }
.fail { background-color: #cc0 }
.norm { background-color: #fff; }
.hover { background-color: rgb(71,162,217);}
.fxed { position: fixed; z-index: 1; height: 10px; left: 0; top: 0; width: 100%; word-break: break-all; }
canvas { visibility: hidden; }
.ico{position: absolute; right: 10px;z-index: 130;top: 10px; width: 15px; height: 15px; overflow: hidden; background:#fff url(../images/q.png) no-repeat 0 0; background-size: 100% 100%;  display: block; cursor: help; }